@media screen and (min-width:769px){
/*  body{
        position: absolute;
        width: 1440px;
        height: 2989px;
        left: 0px;
        top: -3px;
        background: #FFFFFF;
    }
    .mainHeaderText{
        position: relative;
        width: auto;
        height: 64px;
        left: 236px;
        top: 49px;
        font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 64px;
        color: #000000;
    }
    .paraDesc{
        position: absolute;
        width: 592px;
        height: 51px;
        left: 261px;
        top: 125px;
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
    }  
    .imageView{
        position: absolute;
        width: 969px;
        height: 470px;
        left: 234px;
        top: 193px;
        background: url(cake.png);
        border-radius: 12px;
    } 
    
    .imageDiv{    
        position: absolute;
        width: 969px;
        height: 470px;
        left: 234px;
        top: 193px;
        background: url(cake.png);
        border-radius: 12px;
    }
    */      
}   